@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */
/* @font-face {
    font-family: "poppins";
    src: url("Poppins/Poppins-Regular.ttf");
} */
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f3f3eb;
}