@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "poppins";
    src: url("Poppins/Poppins-Regular.ttf");
}
*{
    font-family: "poppins";
}
body{
    background-color: #f3f3eb;
}